* {
  box-sizing: border-box;
}

html,
button,
input {
  font: $font;
  color: $primary;
}

button,
input {
  cursor: pointer;
  outline: none;
}

button {
  border: none;
}

body {
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $primary;
  cursor: pointer;
}

@for $i from 1 to 4 {
  .content-block-#{$i} {
    position: relative;
    display: grid;

    &__background {
      width: 100%;
    }
  }
}
