@mixin slideUp {
  box-shadow: 0 30px 35px 0 $btn-shadow-primary;
  transform: translate3d(0, -18px, 0);
}

@mixin slideUpOff {
  box-shadow: 0 20px 20px 0 $btn-shadow-primary;
  transform: none;
}

.btn-primary {
  display: block;
  width: 246px;
  padding: 16px 0;
  border-radius: 25px;
  background-color: $btn-primary;
  color: $text-white;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 20px 20px 0 $btn-shadow-primary;
  transition: transform $hover-transition-time;

  &:hover {
    @include slideUp;
  }

  &:focus {
    background-color: $primary-focus;
  }

  @include md {
    padding: 12px 0;
    width: 230px;

    &:hover {
      @include slideUpOff;
    }

    &:active {
      background-color: $primary-focus;
    }
  }

  &_white {
    background-color: $btn-white;
    color: $violet;

    &:hover {
      @include slideUp;
    }

    &:focus {
      background-color: $white-focus;
    }

    @include md {
      &:hover {
        @include slideUpOff;
      }

      &:active {
        background-color: $white-focus;
      }
    }
  }
}