$primary: #000000;
$lighter-black: #101010;

$btn-primary: #c77bae;
$btn-white: #fff;
$primary-focus: #a15086;
$white-focus: #f9f5fa;

$violet: #86608a;
$text-white: $btn-white;

$btn-shadow-primary: #431d5a1f;