$xs-screen: 576px;
$sm-screen: 768px;
$md-half-screen: 900px;
$md-screen: 1032px;
$lg-half-screen: 1200px;
$lg-smaller-screen: 1350px;
$lg-screen: 1370px;
$xl-half-screen: 1550px;
$xl-screen: 1920px;

/* Extra Small devices (portrait phones, less than 576px) */
@mixin xs {
  @media (max-width: #{$xs-screen - 0.1px}) {
    @content;
  }
}

/* Small devices (portrait phones, less than 768px) */
@mixin sm {
  @media (max-width: #{$sm-screen - 0.1px}) {
    @content;
  }
}

/* Medium devices (tablets, less than 900px) */
@mixin md-half {
  @media (max-width: #{$md-half-screen - 0.1px}) {
    @content;
  }
}

/* Medium devices (tablets, less than 1032px) */
@mixin md {
  @media (max-width: #{$md-screen - 0.1px}) {
    @content;
  }
}

/* Large devices (desktops, less than 1200px) */
@mixin lg-half {
  @media (max-width: #{$lg-half-screen - 0.1px}) {
    @content;
  }
}

/* Large devices (desktops, less than 1350px) */
@mixin lg-smaller {
  @media (max-width: #{$lg-smaller-screen - 0.1px}) {
    @content;
  }
}

/* Large devices (desktops, less than 1370px) */
@mixin lg {
  @media (max-width: #{$lg-screen - 0.1px}) {
    @content;
  }
}

/* x-Large devices (desktops, less than 1450px) */
@mixin xl-half {
  @media (max-width: #{$xl-half-screen - 0.1px}) {
    @content;
  }
}

/* x-Large devices (desktops, less than 1920px) */
@mixin xl {
  @media (max-width: #{$xl-screen - 0.1px}) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}