* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: var(--font-primary);
}

button {
  font-size: var(--font-xs);
  font-family: var(--font-montserrat-bold);
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 1px;
}

input {
  font-size: var(--font-xs);
  font-family: var(--font-montserrat-semibold);
  color: var(--text-color-secondary);
}

label {
  color: var(--text-color-secondary);
  font-size: var(--font-xs);
  font-family: var(--font-montserrat-medium);
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: var(--font-xl);
  font-family: var(--font-montserrat-bold);
}

@media (min-width: 768px) {
  input {
    font-size: var(--font-primary);
  }
  
  h1 {
    font-size: var(--font-x3l);
  }
}
