.first-meet {
  grid-area: 1 / 1 / 2 / 1; //row-start / col-start / row-end / col-end
  padding: 36px 84px;
  z-index: 3;

  @include lg-smaller {
    padding-left: 64px;
    padding-right: 64px;
  }

  @include md {
    padding-left: 44px;
    padding-right: 44px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__item {
      &:first-child {
        font-size: 20px;
        font-weight: bold;
        @include md-half {
          font-size: 16px;
        }
      }

      &:last-child {
        font-weight: $font-weight-medium;
        letter-spacing: 0.88px;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding-top: 99px;

    @include lg-smaller {
      padding-top: 90px;
    }

    @include lg-half {
      padding-top: 60px;
    }

    @include md {
      padding-top: 50px;
    }

    .main {
      padding-left: 72px;

      @include lg-smaller {
        padding-left: 60px;
      }

      @include lg-half {
        padding-left: 40px;
      }

      &__title {
        width: 610px;
        font-size: 85px;
        font-weight: bold;
        line-height: 1.15;
        color: $lighter-black;

        & > span {
          font-size: 60px;
          font-weight: $font-weight-light;
        }

        @include xl-half {
          font-size: 75px;

          & > span {
            font-size: 50px;
          }
        }

        @include lg-smaller {
          font-size: 65px;

          & > span {
            font-size: 50px;
          }
        }

        @include lg-half {
          font-size: 55px;

          & > span {
            font-size: 40px;
          }
        }

        @include md {
          font-size: 45px;
          width: 450px;

          & > span {
            font-size: 35px;
          }
        }

        @include md-half {
          font-size: 35px;
          width: 400px;

          & > span {
            font-size: 30px;
          }
        }
      }

      & > a {
        margin-top: 65px;
        margin-bottom: 84px;

        @include lg-half {
          margin-top: 55px;
          margin-bottom: 74px;      
        }

        @include md-half {
          margin-top: 40px;
          margin-bottom: 60px;      
        }
      }
    }

    & > a {
      align-self: flex-end;
    }
  }
}
