.skillsBar {
}

.skillBg,
.skillLine {
  border-radius: 4.5px;
}

.skillBg {
  width: 285px;
  height: 5px;
  background-color: var(--skill-bar-bg);
}

.skillLine {
  height: 100%;
  background-color: var(--skill-bar-line);
}